# Node / Next.js / React
node_modules/
.next/
dist/
build/
out/
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.parcel-cache

# .NET / C#
[Bb]in/
[Oo]bj/
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.dbmdl
*.jfm
*.dbproj.schemaview
*.dbproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
*AssemblyFolders.cache
App_Data/
*TestResult*
BuildLog.htm
[Dd]ebug/
[Rr]elease/
_ReSharper*/
*.ReSharper.user
_NCrunch_*
.*crunch*.local.xml
*.DotSettings.user
riderModule.xml

# Databases & OS
*.db
*.sqlite
.DS_Store
Thumbs.db
Desktop.ini

# IDEs & Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
